.title:hover {
  cursor: pointer;
}

.icons-footer {
  height: 60px;
}

.icons-links {
  height: 50px;
}

.project-container {
  border: solid whitesmoke 5px;
}

.links {
  display: flex;
  justify-content: space-between;
}

.title {
  width: fit-content;
}

.toggler-custom {
  background-color: whitesmoke!important;
}

footer {
  width: 250px;
}

@media (max-width: 911px) {
  .title {
    width: 162px;
  }

  .nav-custom {
    margin-left: 150px;
  }
}

@media (max-width: 576px) {

  .nav-custom {
    margin-left: 30%;
  }
}

 @media (min-width: 992px) {

  .project-container {
    height: 475px;
    border: none;
  }

  .project-container:hover .project-img {
    opacity: 0.1;
  }

  .content-container .links, .technologies {
    display: none;
  }

  .content-container .description {
    display: none;
  }
  
  .content-container:hover .links {
    display: flex;
  }
  
  .content-container:hover .technologies {
    display: block;
  }

  .content-container:hover .description {
    display: block;
  }

  .title-link, .gh-link {
    opacity: 0.3;
  }

  .title-link:hover, .gh-link:hover {
    opacity: 1;
  }

  .project-img {
    height: 100%;
  }  

  .icons-links {
    height: 70px;
  }

  .icons-footer {
    opacity: 0.5;
  }

  .icons-footer:hover {
    opacity: 1;
  }

  .contact-info {
    width: 400px;
    height: 200px;
    font-size: 20px;
  }

  /* form {
    margin-right: 200px;
  } */

 }

/* IPAD */

 @media only screen and (min-device-width: 768px) and (max-device-width: 1180px) {
  .content-container .technologies, .description {
    display: block;
    color: white;
  }

  .content-container .description {
    display: block;
    color: white;
  }

  .title-link, .gh-link {
    opacity: 1;
  }

  .content-container .links {
    display: flex;
    color: white;
  }

  .project-container .project-img {
    opacity: 0.3;
  }

 }
