.title {
  width: 145px;
}

.title:hover {
  cursor: pointer;
}

.icons-footer {
  height: 60px;
  margin-right: 50px;
}

.icons-links {
  height: 50px;
}

.project-container {
  border: solid black 5px;
}

.links {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 896px) {
  .title {
    width: fit-content;
  }
}

 @media (min-width: 992px) {

  .project-container {
    height: 475px;
    border: none;
  }

  .project-container:hover .project-img {
    opacity: 0.5;
  }

  .content-container .links, .technologies {
    display: none;

  }

  .content-container .description {
    display: none;
  }
  
  .content-container:hover .links {
    display: flex;
  }
  
  .content-container:hover .technologies {
    display: block;
  }

  .content-container:hover .description {
    display: block;
  }

  .title-link, .gh-link {
    opacity: 0.5;
  }

  .title-link:hover, .gh-link:hover {
    opacity: 1;
  }

  .project-img {
    height: 100%;
  }  
 }